<mat-nav-list>
    <a mat-list-item routerLink="" (click)="onClose()"><span class="mdi mdi-airplane-takeoff "></span> 
        <span class="navigation-caption">  Travel Insurance</span></a>
    <a mat-list-item routerLink="" (click)="onClose()"><span class="mdi mdi-car "></span> 
        <span class="navigation-caption"> Car
            Insurance</span></a>
    <a mat-list-item routerLink="" (click)="onClose()"><span class="mdi mdi-medical-bag "></span> 
        <span  class="navigation-caption">Medical
            Insurance</span></a>
    <a mat-list-item routerLink="" (click)="onClose()"><span class="mdi mdi-wheelchair-accessibility "></span>
         <span  class="navigation-caption">
            Personal Accident </span></a>
</mat-nav-list>