<section class="wrapper-header main-color">
    <mat-toolbar class="  container">

        <div>
            <div class="phone-call">
                <span class="mdi mdi-phone icon-margin"></span>
                <span>19243</span>
            </div>
        </div>

        <div fxFlex fxLayout fxLayoutAlign="flex-end">
            <ul fxLayout fxLayoutGap="10px" class="navigation-links" fxLayoutAlign="flex-start">
                <span>
                <h4 >
                Follow us on
                </h4>
                </span>
                <li><a class="link-target"><span class="mdi mdi-facebook"></span></a></li>
                <li><a class="link-target"><span class="mdi mdi-twitter"></span></a></li>
            </ul>
        </div>


    </mat-toolbar>
</section>